/* Global Reset */
body,
h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}

/* Font */
body {
    font-family: 'Arial', sans-serif;
}

#uploadForm {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Container Styling */
.container {
    max-width: 1500px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Form Styling */
#uploadForm {
    margin-bottom: 20px;
}

/* Table Styling */
.FullTable {
    width: 100%;
    border-collapse: collapse;
    overflow: auto;
    max-height: 500px;
}

.FullTable th,
.FullTable td {
    border: 2px solid #ddd;
    padding: 5px;
    text-align: left;
}

th {
    background-color: #f5f5f5;
}

tr:hover {
    background-color: #f0f0f0;
}

.pagebuttons{
    display: flex;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    display: flex;
    padding-top: 9vh;
    justify-content: center;
    align-items: start;
}

.tabletop{
    display: flex;
    justify-content: space-between;
    margin: 1vh;
}

.exitbutton{
margin-right: 1vh;
}

.editform {
    display: flex;
    width: 20%;
    flex-direction: column;
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.search-container{
    margin: 1vh;
}

/* Pagination Styling */
.pagination-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
}

/* Delete Container Styling */
.delete-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

/* Delete Input Styling */
#DateOlder {
    margin-right: 10px;
}

.title{
    display: flex;
    justify-content: center
}

.scenebutton{
    display: flex;
    align-items: center;
    margin-right: 0.5vh;
}

/* Button Styling */
button {
    padding: 7px 15px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

/* Button Hover Effect */
button:hover {
    background-color: #2980b9;
}

/* Table Output Container Styling */
.output-container {
    display: flex;
    height: 500px;
    width: auto;
    overflow: auto;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

/* Responsive Styling for smaller screens */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .FullTable th,
    .FullTable td {
        padding: 8px;
    }

    button {
        padding: 10px 15px;
    }
}
