body{
    margin: 0;
}

.whole{
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 1;
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.dirclass{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.37);
    width: 30%;
    height: 40%;
}

.knop{
    height: 4vh;
    width: 10vh;
}

#choice{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.scene{
    display: flex;
    flex-direction: column;
}

.sceneselect{
    display: flex;
    height: 5vh;
    flex-direction: column;
    align-items: baseline;
}

input[type="range"] {
    width: 20vh ;
}

.header{
    margin: 0;
    height: 10vh;
    width: 100%;
    background-color: blue;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 1;
}

.background{
    opacity: 100;
    position: fixed;
    z-index: 0;
}

.logo{
    height: 7vh;
    width: 10vh;
    background-color:white;
    margin-left: 5vh;
}

.text{
    height: 3.3vh;
}
